* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gluten", cursive;
}

html {
  --dropdown-left: 0;
  --dropdown-top: 0;
  --char-opacity: 0.4;
}

.App img {
  width: 100%;
  object-fit: contain;
  cursor: crosshair;
}

.Header {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}

.Header-title {
  display: flex;
  flex-direction: column;
}

.Header-title h1 {
  text-shadow: 1px 1px black;
}

.Header-char {
  display: flex;
  height: 100%;
  align-items: center;
}

.Header img {
  height: 100%;
  cursor: default;
}

.Timer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Timer-minutes {
  width: 2.5rem;
  text-align: center;
}

.Timer-seconds {
  width: 2.5rem;
  text-align: center;
}

.Dropdown {
  display: none;
  display: block;
  position: absolute;
  left: var(--dropdown-left);
  top: var(--dropdown-top);
  height: auto;
  width: auto;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

.Dropdown-table {
  height: 100%;
  width: auto;
  display: grid;
  grid-auto-rows: 2.7rem;
}

.Dropdown-row {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.4rem;
  padding-right: 0.6rem;
  align-items: center;
}

.Dropdown-row:hover {
  background-color: lightgrey;
}

.Dropdown-row img {
  height: 2.2rem;
  cursor: inherit;
}

.Dropdown-row p {
  margin-right: auto;
}

.Message-container {
  position: fixed;
  background: inherit;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.Message-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  padding: 1.5rem;
  margin: auto;
  height: auto;
  margin-top: calc(100vh - 80vh);
  background: whitesmoke;
  color: black;
  border: 2px solid black;
  border-radius: 6px;
  overflow: auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Message-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: x-large;
  margin-top: 0.8rem;
  margin-bottom: 0.2rem;
}

.Highscores {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.Highscores-user {
  display: flex;
  justify-content: space-between;
  min-width: 20rem;
  gap: 1.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.reset {
  font-size: x-large;
  padding: 0.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid black;
  background-color: lightgray;
  cursor: pointer;
}

@media only screen and (orientation: landscape) and (max-width: 850px) {
  * {
    font-size: smaller;
  }

  .Header {
    display: flex;
  }

  .Header-title h1 {
    font-size: large;
  }

  .Header-title p {
    font-size: smaller;
  }

  .Timer-minutes {
    width: 1.5rem;
  }

  .Timer-seconds {
    width: 1.5rem;
  }

  .Message-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: smaller;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
  }

  .Highscores-user {
    gap: 1rem;
    padding: 0.2rem;
    min-width: 10rem;
  }

  .reset {
    font-size: small;
  }
}

@media only screen and (orientation: portrait) {
  * {
    font-size: xx-small;
  }

  .App img {
    width: 100%;
    object-fit: contain;
  }

  .Header {
    max-height: 8vh;
    display: flex;
    width: 100%;
  }

  .Header-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 20vw;
  }
  .Header-char {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Header img {
    height: 1.5rem;
  }

  .Timer-minutes {
    width: 1rem;
  }

  .Timer-seconds {
    width: 1rem;
  }
}
