/* leave cursor as crosshair, but put a circle around character when clicked */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gluten", cursive;
}

html {
  --dropdown-left: 0;
  --dropdown-top: 0;
  --char-opacity: 0.4;
}

.App img {
  width: 100%;
  object-fit: contain;
  cursor: crosshair;
}

.Header {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}

.Header-title {
  display: flex;
  flex-direction: column;
}

.Header-title h1 {
  text-shadow: 1px 1px black;

  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.Header-char {
  display: flex;
  height: 100%;
  align-items: center;
  /* opacity: var(--char-opacity); */
}

.Header img {
  height: 100%;
  /* opacity: 1; */
  cursor: default;
}

.Timer {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Timer-minutes {
  width: 2.5rem;
  text-align: center;
}

.Timer-seconds {
  width: 2.5rem;
  text-align: center;
}

.Dropdown {
  display: none;
  display: block;
  position: absolute;
  left: var(--dropdown-left);
  top: var(--dropdown-top);
  height: auto;
  width: auto;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

.Dropdown-table {
  height: 100%;
  width: auto;
  display: grid;
  grid-auto-rows: 2.7rem;
}

.Dropdown-row {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.4rem;
  padding-right: 0.6rem;
  align-items: center;
}

.Dropdown-row:hover {
  background-color: lightgrey;
}

.Dropdown-row img {
  height: 2.2rem;
  cursor: inherit;
}

.Dropdown-row p {
  margin-right: auto;
}

.Message-container {
  position: fixed;
  /* background: #00000050; */
  background: inherit;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.Message-box {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 0.5rem;
  margin: auto;
  height: auto;
  /* max-height: 70vh; */
  margin-top: calc(100vh - 80vh);
  background: whitesmoke;
  color: black;
  border: 2px solid black;
  border-radius: 2px;
  overflow: auto;
  /* text-align: center; */
  align-content: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Message-box h2 {
}
